---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const posts = await Astro.glob("../../posts/*.md");

    return posts.map((post) => ({
        params: {
            slug: post.frontmatter.slug,
        },
        props: {
            post,
        },
    }));
}

const { Content, frontmatter } = Astro.props.post;
---

<Layout title={frontmatter.title}>
    <article>
        <div class="post-head">
            <h2 class="post-title">{frontmatter.title}</h2>
            <div class="post-date">
                {new Date(frontmatter.date).toISOString().split("T")[0]}
            </div>
        </div>
        <Content />
    </article>
</Layout>

<style>
    /*
    .post-head {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }

    .post-date {
        font-style: italic;
        color: #666;
    }
    */
</style>
