@import url("https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css");

header {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

footer {
    padding-top: 0 !important;
    padding-bottom: 8px !important;
    text-align: center !important;
    font-style: italic;
}
