@import url("https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css");

header {
    padding: 0 !important;
}

footer {
    padding: 0 0 10px 0 !important;
    text-align: center !important;
    font-style: italic;
}
