---
import Layout from "../layouts/Layout.astro";

const title = "About";
const description = "About.";
---

<Layout title={title} description={description}>
    <p>[About-Content-Here]</p>
</Layout>
