---
import { AUTHOR } from "../branding";
---

<footer>
    <small>
        &copy; {new Date().getFullYear()} {AUTHOR} &bull;
        Built with <a href="https://astro.build" target="_blank">Astro</a>  &bull;
        Hosted on <a href="https://www.netlify.com" target="_blank">Netlify</a>
    </small>   
</footer>
