<footer>
    <span>
        &copy; {new Date().getFullYear()} Joe Ballard &bull; Built with
        <a href="https://astro.build" target="_blank">Astro</a>
        &bull; Hosted on
        <a href="https://www.netlify.com" target="_blank">Netlify</a>
    </span>
</footer>
