<footer>
    <p>
        &copy; {new Date().getFullYear()} Joe Ballard &bull; Built with
        <a href="https://astro.build" target="_blank">Astro</a>
        &bull; Hosted on
        <a href="https://www.netlify.com" target="_blank">Netlify</a>
    </p>
</footer>

<style>
    footer {
        background: black;
        color: white;
        font-family: sans-serif;
        font-style: italic;
        font-size: small;
        text-align: center;
        padding: 20px;
    }

    a {
        color: skyblue;
        text-decoration: none;
    }
</style>
