---
import { AUTHOR } from "../branding";
---

<footer>
    <p>
        &copy; {new Date().getFullYear()} {AUTHOR} &bull; 
        Built with <a href="https://astro.build" target="_blank">Astro</a> &bull; 
        Hosted on <a href="https://www.netlify.com" target="_blank">Netlify</a>
    </p>
</footer>

<style>
    /*
    footer {
        background: #111;
        color: #ccc;
        font-family: sans-serif;
        font-style: italic;
        font-size: small;
        text-align: center;
        padding: 20px;
    }

    a {
        color: skyblue;
        text-decoration: none;
    }
    */
</style>
