---
import { BRANDING } from "../config";
---

<header>
    <div class="container">
        <h1 class="brand">{BRANDING}</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
    </div>
</header>

<style>
    header {
        height: 50px;
        background: black;
        color: white;
        font-family: sans-serif;
    }

    header .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }

    h1 {
        font-size: x-large;
    }

    ul {
        display: flex;
        list-style: none;
    }

    li {
        padding: 0 10px;
    }

    a {
        color: skyblue;
        text-decoration: none;
    }
</style>
